@using RequestBusPoc.Web.ViewModels
@model RequestBusPoc.Web.ViewModels.BookmarksViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

@foreach (BookmarkViewModel bookmark in Model.Bookmarks)
{
    <div>@bookmark.Index - @bookmark.Bookmark.Url</div>
}